:root{
    --primary-brand-color: #006ED2;
}
#modal-descargar-app .close{
    margin-bottom: auto;
}

#modal-descargar-app .modal-dialog{
    width: 60vw;
    height: 92%;
    margin: 2% auto;    
}
@media(min-width:767px) and (max-width: 1029px){
    #modal-descargar-app .modal-dialog{
        width: 85vw;
        padding: 0 20px;
    }
}
#modal-descargar-app .paso-descargar-app{
    font-weight: 600;
    font-size: 18px;
}
#modal-descargar-app .modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#modal-descargar-app .modal-dialog .modal-content{
    background: url(../img/decos/fondo-instructivo-tarjetas.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    min-height: 90%;
}

#modal-descargar-app .modal-dialog .modal-title{
    margin: auto;
    margin-top: 35px;
}
#modal-descargar-app .modal-dialog .modal-content .modal-body{
    text-align: center;
    padding: 0;
    margin: auto;
}
#modal-descargar-app .modal-dialog .modal-content .modal-body .row{
    display: flex;
    justify-content: space-between;
}
#modal-descargar-app .modal-dialog .modal-content .modal-body h2{
    color: var(--primary-brand-color);
    font-weight: 600;
    display: flex;
    align-items: center;
}
#modal-descargar-app .modal-dialog .modal-content .modal-body h2 span{
    width: 40px;
    height: 40px;
    display: flex;
    border: solid 2px #006ED2;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;

}
#modal-descargar-app .modal-dialog .modal-content .modal-body img{
    max-width: 100%;
}
#modal-descargar-app .col-lupa{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#modal-descargar-app .col-lupa span{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-brand-color);
    border: solid 2px var(--primary-brand-color);
    padding: 6px 10px;
    border-radius: 25px;
}
#modal-descargar-app .col-lupa i{
    margin-right: 15px;
    color: #45494d;;
}
#modal-descargar-app .mw-70{
    max-width: 70% !important;
}
#modal-descargar-app .modal-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: auto;
}
#modal-descargar-app .btn-secundario{
    background-color: white;
}
#modal-descargar-app .modal-header button.close span{
    color: white;
}
#modal-descargar-app .modal-header button.close{
    opacity: 1;
}

#descargar-app-paso-03 .text-img-registro,
#descargar-app-paso-04 .text-img-registro{
    font-size: 14px;
}
#descargar-app-paso-03 .row{
    padding: 0 10px;
}
#descargar-app-paso-03{
    padding: 0 30px;
}
.img-captura-registro{
    max-width: 54% !important;
}

#descargar-app-paso-04 .img-captura-registro{
    max-width: 40% !important;
}
#descargar-app-paso-02 img{
    max-width: 160px !important;
}
#descargar-app-paso-02 .img-2{
    max-width: 168px !important;
}
#descargar-app-paso-04 .text-img-registro{
    font-size: 14px;
    width: 75%;
    margin: auto;
    padding-left: 40px!important;
}
#descargar-app-paso-01 .col-icono-tienda{
    width: 144px;
}
#descargar-app-paso-01 .col-icono-tienda-google{
    width: 170px;
}
@media (min-width: 1500px) {
    #modal-descargar-app .modal-dialog .modal-content{
        min-height: 80%;
    }
}
@media (min-width: 1920px) {
    #modal-descargar-app .modal-dialog .modal-content{
        background: url(../img/decos/fondo-instructivo-tarjetas-xl.png);
        background-size: cover;
    }
    #modal-descargar-app .modal-dialog .modal-content{
        min-height: 65%;
    }
    #descargar-app-paso-04 .img-captura-registro{
        max-width: 50% !important;
    }
    #descargar-app-paso-02 .img-1{
        max-width: 218px !important;
        margin-bottom: 1rem;
    }
    #descargar-app-paso-02 .img-2{
        max-width: 229px !important;
        margin-bottom: 1rem;
    }
    #descargar-app-paso-03 .text-img-registro,
    #descargar-app-paso-04 .text-img-registro{
        font-size: 16px;
    }
}
